VITE_API_URL=http://localhost:8000/graphql
VITE_BASE_URL=http://localhost:8000
VITE_AGENT_URL=http://localhost:8000/agent/chat
VITE_MAP_STYLE_URL=https://basemaps.cartocdn.com/gl/positron-gl-style/style.json
VITE_DASHBOARD_ALL_DATA_YEAR=2026
VITE_DEFAULT_TIME_RANGE=24h
VITE_DEFAULT_DATASET_TYPE=Forecast
